.list {
	background-color: #fff;
}

.map-canvas {
	height: 400px;
	width: 66%;
}

.search {
	padding-bottom: 2.5%;
}

li {
	list-style-type: none;
}

.logo-centered {
	float: none;
	margin: 0 auto;
	margin-top: 2%;
}

